{{#if todos}}
<h1> You have {{todos.length}} Todos</h1>
<p>

    <h3>Urgent Todos</h3>
    <ul>
        {{#each todos}} {{#if this.urgent}}
        <li>
            <a href="/todos/{{@index}}">Description: {{this.description}} | Location: {{this.location}}</a>
        </li>
        <div><a href="/todos/{{@index}}/edit">Edit</a></div>
        <form action="/todos/{{@index}}?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <br> {{/if}} {{/each}}
    </ul>

    <h3>Non-Urgent Todos</h3>
    <ul>
        {{#each todos}} {{#unless this.urgent}}

        <li>
            <a href="/todos/{{@index}}">Description: {{this.description}} | Location: {{this.location}}</a>
        </li>
        <div><a href="/todos/{{@index}}/edit">Edit</a></div>
        <form action="/todos/{{@index}}?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <br> {{/unless}} {{/each}}
    </ul>
</p>

{{else}}
<p> you have no todos </p>
{{/if}}