<div class="row">
    <form action="/students/{{student.id}}?_method=PUT" method="POST" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="_id">ID:</label>
            <input type="text" name="_id" class="form-control" value="{{student._id}}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" value="{{student.name}}">
        </div>

        <br> {{#each student.projects}}
        <div class="form-group">
            <label for="project._id">ID:</label>
            <input type="text" name="project._id" class="form-control" value="{{this._id}}" readonly>
        </div>
        <div class="form-group">
            <label for="project">Project:</label>
            <input type="text" name="project" class="form-control" value="{{this.title}}">
        </div>
        <div class="form-group">
            <label for="unit">Unit:</label>
            <input type="text" name="unit" class="form-control" value="{{this.unit}}" />
        </div>
        <br> {{/each}}
        <br>

        <div>
            <input type="submit" value="Update Student" class="btn btn-default">
        </div>
    </form>

    {{student}}
</div>