<h1>Project - {{project.title}}</h1>
<p>
    Project Unit Covered: {{project.unit}}
    
</p>

<a href='/students/{{student._id}}/projects/{{project._id}}/edit'>Edit Project: {{project.title}}</a>
<br>
<a href='/students/{{student.id}}'>Go back to Student: {{student.name}}</a>